
<h4 class="my-4">Categories</h4>

<ul class="list-group">
    <li class="list-group-item"><a href="">Item number 1</a></li>
    <li class="list-group-item"><a href="">Item number 2</a></li>
    <li class="list-group-item"><a href="">Item number 3</a></li>
    <li class="list-group-item"><a href="">Item number 4</a></li>
    <li class="list-group-item"><a href="">Item number 5</a></li>
    <li class="list-group-item"><a href="">Item number 6</a></li>
    <li class="list-group-item"><a href="">Item number 7</a></li>
    <li class="list-group-item"><a href="">Item number 8</a></li>
    <li class="list-group-item"><a href="">Item number 9</a></li>
    <li class="list-group-item"><a href="">Item number 10</a></li>
</ul>